<!DOCTYPE html>
<html data-bs-theme="light" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{fragments :: head('Change Password')}"></head>

    <body>
        <div sec:authorize="isAuthenticated()"
             th:replace="~{fragments :: authenticatedNavbar('')}">
        </div>
        <div th:replace="~{fragments :: heading('Change Password')}"></div>
        <div class="container text-center mt-4" id="form-container">
            <div class="card bg-transparent shadow">
                <div class="card-body">
                    <form action="#" th:action="@{/change-password/processChangePassword}" th:object="${form}" method="post">
                        <div th:if="${#fields.hasErrors('*')}">
                            <div class="alert alert-danger text-start">
                                <ul>
                                    <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                                </ul>
                            </div>
                        </div>
                        <div th:if="${param.success}">
                            <div class="alert alert-success">You have changed your password successfully.</div>
                        </div>
                        <input class="form-control mt-2" type="password"
                               th:field="*{oldPassword}" placeholder="Old password" required="">
                        <input class="form-control mt-2" type="password"
                               th:field="*{newPassword}" placeholder="New password" required="">
                        <input class="form-control mt-2" type="password"
                               th:field="*{confirmNewPassword}" placeholder="Confirm new password" required="">
                        <input class="btn btn-secondary mt-3" type="submit" name="submit" value="Change Password">
                    </form>
                </div>
            </div>
        </div>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/bs-init.js}"></script>
    </body>

</html>